/* -----null----------------------------------------------------------------------- */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    font-weight: 500;
    font-family: Montserrat;
    color: #252B42;
}
/* ---------------------------------------------------------------------------- */
.wrapper {
    min-height: 100%;
    overflow: hidden;
}
/* ---------------------------------------------------------------------------- */
._container {
    max-width: 1046px;
    padding: 0 15px;
    margin: 0px auto;
    box-sizing: content-box;
}
/* ----header----------------------------------------------------------------------- */
.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header_container {
    display: flex;
    min-height: 104px;
    align-items: center;
}
@media (max-width: 479px) {
    .header_container {
        min-height: 70px;
    }
}
.header__logo {
    font-size: 24px;
    font-weight: 700;
    color: inherit;
}
.header__menu {
    margin: 0 0 0 133px;
}
@media (max-width: 992px) {
    .header__menu {
        margin: 0 0 0 80px;
    }
}
@media (max-width: 767px) {
    .header__menu {
        margin: 0 0 0 40px;
    }
}
@media (max-width: 479px) {
    .header__menu {
        margin: 0 0 0 20px;
    }
}
.menu {

}
.menu__list {
    flex-wrap: wrap;
    display: flex;
    padding: 5px 0;
}
.menu__item {
    
}
.menu__item:not(:last-child) {
    margin: 0 21px 0 0;
}
.menu__link {
    font-weight: 600;
    line-height: calc(24 / 14 *100%);
    color: #737373;
}
@media (max-width: 479px) {
    .menu__link {
        font-size: 18px;
    }
}
/* ---------------------------------------------------------------------------- */
